<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.handoutlms"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CreateNewTask"
            android:exported="false" />
        <activity
            android:name=".AddTask"
            android:exported="false" />
        <activity
            android:name=".TaskManagerClick"
            android:exported="false" />
        <activity android:name=".ViewCv" />
        <activity android:name=".SeeBids" />
        <activity android:name=".ShowBidsPlaced" />
        <activity android:name=".ShowCreatedGigs" />
        <activity android:name=".ProfileOthers" />
        <activity android:name=".EditProfilePage" />
        <activity android:name=".CardGigClick2" />
        <activity android:name=".TermsOfService" />
        <activity android:name=".ForgotPassword3" />
        <activity android:name=".ForgotPassword2" />
        <activity android:name=".ForgotPassword1" />
        <activity android:name=".TriviaFail" />
        <activity android:name=".TriviaPassed" />
        <activity android:name=".Question10" />
        <activity android:name=".Question9" />
        <activity android:name=".Question8" />
        <activity android:name=".Question7" />
        <activity android:name=".Question6" />
        <activity android:name=".Question5" />
        <activity android:name=".Question4" />
        <activity android:name=".Question3" />
        <activity android:name=".Question2" />
        <activity android:name=".Question1" />
        <activity android:name=".TriviaInstruction" />
        <activity android:name=".HandoutTrivia" />
        <activity android:name=".NewSignup" />
        <activity android:name=".CreateGig6" />
        <activity android:name=".CreateGig5" />
        <activity android:name=".CreateGig4" />
        <activity android:name=".CreateGig3" />
        <activity android:name=".CreateGig2" />
        <activity android:name=".CreateGig1" />
        <activity android:name=".AddOptions" />
        <activity android:name=".ViewGroupResources" />
        <activity android:name=".CreateTutorialGroupOffline" />
        <activity android:name=".DocumentPaged" />
        <activity android:name=".CreateOnlineTutPhase1" />
        <activity android:name=".AlmostDone" />
        <activity android:name=".InviteFriends" />
        <activity android:name=".CreateTutorialGroupOnline" />
        <activity android:name=".CreateTutorialGroup2" />
        <activity android:name=".FeedsDashboard" />
        <activity
            android:name=".TutorsDashboard"
            android:theme="@style/BottomNavTheme" />
        <activity android:name=".TutorSelectCategory" />
        <activity android:name=".StudentDashboard" />
        <activity android:name=".TutorOrStudent" />
        <activity android:name=".WelcomePage" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity
            android:name=".LoginSignup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>